body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

form {
    max-width: 600px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#galeria {
    margin-top: 40px;
}

.imagen-container img {
    max-width: 200px;
    margin: 10px;
}
select option[disabled] {
    color: #888;
}


/* Estilos para checkboxes*/
.checkbox-container {
    margin: 20px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 15px; /* Espacio entre columnas y filas */
    margin-top: 20px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre checkbox y label */
}

.checkbox-item input[type="checkbox"] {
    transform: scale(1.5); /* Opcional: agrandar un poco los checkboxes */
    cursor: pointer;
}

.checkbox-item label {
    cursor: pointer;
}